<div class="lessons-list-container v-h-center-block-parent">
  <div class="nav-bar">
    <button>Previous Page</button>
    <button>Next Page</button>
  </div>

  <table class="table lessons-list card card-strong">
    <tbody>
      <tr>
        <td class="course-icon"><img></td>
        <td class="lesson-title">TODO</td>
        <td class="duration">
          <i class="md-icon duration-icon">access_time</i>
          <span>TODO</span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="tools-bar">
    <button>New Lesson</button>
  </div>
</div>